In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/train.csv")

In [3]:
df.head(2)

   Id  LotArea Neighborhood  OverallCond  YearBuilt  SalePrice
0   1     8450      CollgCr            5       2003     208500
1   2     9600      Veenker            8       1976     181500

_**DO: Make a new dataframe called subset which contains the first 10 rows and all columns of df. Print out its shape to ensure it has been made properly. We will be working with this dataset in this notebook**_

## <u>Row operations<u>

Understanding axis argument

###remove 

Explain how axis works on board

In [7]:
subset.sum()

Id                                               15
LotArea                                       53110
Neighborhood    CollgCrVeenkerCollgCrCrawforNoRidge
OverallCond                                      28
YearBuilt                                      9895
SalePrice                                   1003500
dtype: object

In [8]:
subset.sum(axis = 1)

0    218959
1    193086
2    236759
3    151474
4    266270
dtype: int64

In [9]:
subset.sum(axis = 0)

Id                                               15
LotArea                                       53110
Neighborhood    CollgCrVeenkerCollgCrCrawforNoRidge
OverallCond                                      28
YearBuilt                                      9895
SalePrice                                   1003500
dtype: object

In [14]:
subset.min(axis =1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

_**DO: Select rows with indices: 0, 5 and 10 and apply min and max functions on each row using axis**_

_**DO: Call groupby using the column "OverallCond" to group the values. Now find mean for each row considering only the columns LotArea and SalePrice**_

### Deleting rows

This is the only operation I have come across which defies my understanding of axis. But because I have applied this function so much, it really doesnt bother me and I know what to put in the axis value to drop columns and what to drop rows

In [35]:
subset.drop(0, axis = 0)

   Id  LotArea Neighborhood  OverallCond  YearBuilt  SalePrice
1   2     9600      Veenker            8       1976     181500
2   3    11250      CollgCr            5       2001     223500
3   4     9550      Crawfor            5       1915     140000
4   5    14260      NoRidge            5       2000     250000

_**DO: Drop column "LotArea". Save the new dataframe. Call describe on it and now drop the mean and count rows.**_

## Using filters/masks

Probably the most important conecpt for pandas (along with iloc, loc)

###remove

Build intuition as to why we would use this. Explain concept based on numpy arrays indexing. SHow exampe on board and guide using steps on board before implementing it here

Steps:
1. Select a particular column. By doing this we select a Series(another data structure of pandas).
2. Build a filter/mask. Use a conditional statement to create a "Series" of bool values
3. Apply the mask

long way

In [106]:
###remove cause you have to make this from scratch with them 
bools = []
for i in range(subset.shape[0]):
    if subset.loc[i,"YearBuilt"]>2000:
        bools.append(True)
    else:
        bools.append(False)

In [107]:
bools

[True, False, True, False, False]

In [108]:
df.loc[bools,:]

   Id  LotArea Neighborhood  OverallCond  YearBuilt  SalePrice
0   1     8450      CollgCr            5       2003     208500
2   3    11250      CollgCr            5       2001     223500

short way

In [84]:
col_values = subset.loc[:,"YearBuilt"]
col_values

0    2003
1    1976
2    2001
3    1915
4    2000
Name: YearBuilt, dtype: int64

In [87]:
mask_1 = col_values>2000
mask_1

0     True
1    False
2     True
3    False
4    False
Name: YearBuilt, dtype: bool

We can combine the above two steps:

In [112]:
mask_1 = subset.loc[:, "YearBuilt"] > 2000
mask_1

0     True
1    False
2     True
3    False
4    False
Name: YearBuilt, dtype: bool

In [99]:
subset.loc[mask_1, :]

   Id  LotArea Neighborhood  OverallCond  YearBuilt  SalePrice
0   1     8450      CollgCr            5       2003     208500
2   3    11250      CollgCr            5       2001     223500

_**DO: Combine the above three steps into 1 single line of code.**_

-> Do the below operations on df dataframe(not subset)

_**DO: Select only those houses that have OverallCond greater or equal to 5**_

_**DO: Compare the mean "SalePrice" of houses with LotArea greater than 10000 and lesser than or equal to 10000**_

_**DO: Check median YearBuilt of houses in Neighbourhood: "CollgCr"**_

### Using Multiple masks together

In [119]:
mask_1 = subset.loc[:, "YearBuilt"] > 2001
mask_2 = subset.loc[:, "YearBuilt"] < 1990

In [120]:
subset.loc[mask_1 & mask_2]

Empty DataFrame
Columns: [Id, LotArea, Neighborhood, OverallCond, YearBuilt, SalePrice]
Index: []

In [121]:
subset.loc[mask_1 | mask_2]

   Id  LotArea Neighborhood  OverallCond  YearBuilt  SalePrice
0   1     8450      CollgCr            5       2003     208500
1   2     9600      Veenker            8       1976     181500
3   4     9550      Crawfor            5       1915     140000

-> Do the below on the entire df

_**DO: Select only those houses that were made before 2000 and have OverallCond == 7**_

_**DO: Select those houses that have LotArea between 8000 and 9000 and OverallCond 5 and above**_

_**DO: Select those houses that have Neighborhood Crawfor or Veenker and SalePrice between 135000 and 160000**_

## Advanced Questions:

_**DO: Make a function "LotAreaFilter" that takes in the max and minimum lot area as arguments and outputs the rows corresponding the mean SalePrice of all the houses that satisfy the given conditions.**_

_**DO: Call describe() on df. Sort the dataframe in a descending manner. Create a subset of this dataset which includes all row entries where OverallCond is greater than 5. Iterate over that subset and print out the total sum for each row one by one.**_