What are libraries ?

These refer to just a bunch of code that other people or organizations might have written and uploaded so that everyone can use them. By using libraries we can get a lot of pre-written functinos that we can call and use in our code. 

They are a collection of functions that alow us to use these functions without writing underlying code.

Eg: Suppose I don't know how to solve a quadratic equation. But, I do know that there is a library numpy, just the name of the library, that has a function, say quad_solve(a, b, c), already made for this purpose. Then I would import this library and use that function on my coefficients to solve the equation.

Syntax for importing library code:

import library_name

    or 
 
import library_name as some_other_easy_name

In [1]:
#eg
import math

In [4]:
math.exp(2)

7.38905609893065

or

In [5]:
import math as meth

In [9]:
math.log(3)

1.0986122886681098

or

In [10]:
import math as m

In [11]:
m.cos(10)

-0.8390715290764524

and so on...

Now we can call functions from these libraries using the name that we gave to the library

In [ ]:
m.log(1)

In [ ]:
math.exp(2)

In [ ]:
meth.sin(20)

_**DO: import a library called datetime with name alloted to it: dt. Use the function : datetime.now of this library**_

-----

## Pandas

_Make sure that everyone knows matrices. Describe 1-D, 2-D, N-D matrices and do some questions to make sure they know how read its shape_

In [12]:
import pandas as pd

Just like we studied lists, which was a data structure, the main data structure that you will have to understand while working with pandas is DataFrames.

DataFrames are made of another highly similar data structre called Series. SO we will go through series first and then go to dataframes

### Series

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

In [13]:
series_1 = pd.Series([1,2,3,4,5])
series_1

0    1
1    2
2    3
3    4
4    5
dtype: int64

_Describe components of above series and how to understand it_

_**DO: Print the 2nd and 3rd elements of series_1.Then change the 5th element to 100**_

In [19]:
series_1.shape

(5,)

_Consequences of having above shape: Vector, no transpose_

In [14]:
series_1[0] = "hey"

In [15]:
series_1

0    hey
1      2
2      3
3      4
4      5
dtype: object

### Moving onto real data

In [22]:
df = pd.read_csv("data/train.csv")

In [23]:
df

        Id  LotArea Neighborhood  OverallCond  YearBuilt  SalePrice
0        1     8450      CollgCr            5       2003     208500
1        2     9600      Veenker            8       1976     181500
2        3    11250      CollgCr            5       2001     223500
3        4     9550      Crawfor            5       1915     140000
4        5    14260      NoRidge            5       2000     250000
5        6    14115      Mitchel            5       1993     143000
6        7    10084      Somerst            5       2004     307000
7        8    10382       NWAmes            6       1973     200000
8        9     6120      OldTown            5       1931     129900
9       10     7420      BrkSide            6       1939     118000
10      11    11200       Sawyer            5       1965     129500
11      12    11924      NridgHt            5       2005     345000
12      13    12968       Sawyer            6       1962     144000
13      14    10652      CollgCr            5       2006     279500
14      15    10920        NAmes            5       1960     157000
15      16     6120      BrkSide            8       1929     132000
16      17    11241        NAmes            7       1970     149000
17      18    10791       Sawyer            5       1967      90000
18      19    13695      SawyerW            5       2004     159000
19      20     7560        NAmes            6       1958     139000
20      21    14215      NridgHt            5       2005     325300
21      22     7449       IDOTRR            7       1930     139400
22      23     9742      CollgCr            5       2002     230000
23      24     4224      MeadowV            7       1976     129900
24      25     8246       Sawyer            8       1968     154000
25      26    14230      NridgHt            5       2007     256300
26      27     7200        NAmes            7       1951     134800
27      28    11478      NridgHt            5       2007     306000
28      29    16321        NAmes            6       1957     207500
29      30     6324      BrkSide            6       1927      68500
...    ...      ...          ...          ...        ...        ...
1430  1431    21930      Gilbert            5       2005     192140
1431  1432     4928      NPkVill            6       1976     143750
1432  1433    10800      OldTown            6       1927      64500
1433  1434    10261      Gilbert            5       2000     186500
1434  1435    17400      Mitchel            5       1977     160000
1435  1436     8400        NAmes            9       1962     174000
1436  1437     9000        NAmes            6       1971     120500
1437  1438    12444      NridgHt            5       2008     394617
1438  1439     7407      OldTown            7       1957     149700
1439  1440    11584       NWAmes            6       1979     197000
1440  1441    11526      Crawfor            7       1922     191000
1441  1442     4426      CollgCr            5       2004     149300
1442  1443    11003      Somerst            5       2008     310000
1443  1444     8854      BrkSide            6       1916     121000
1444  1445     8500      CollgCr            5       2004     179600
1445  1446     8400       Sawyer            5       1966     129000
1446  1447    26142      Mitchel            7       1962     157900
1447  1448    10000      CollgCr            5       1995     240000
1448  1449    11767      Edwards            7       1910     112000
1449  1450     1533      MeadowV            7       1970      92000
1450  1451     9000        NAmes            5       1974     136000
1451  1452     9262      Somerst            5       2008     287090
1452  1453     3675      Edwards            5       2005     145000
1453  1454    17217      Mitchel            5       2006      84500
1454  1455     7500      Somerst            5       2004     185000
1455  1456     7917      Gilbert            5       1999     175000
1456  1457    13175       NWAmes            6       1978     210000
1457  1458     9042      Crawfor            9       1941     266500
1458  1459     9717        NAmes            6       1950     142125
1459  1460     9937      Edwards            6       1965     147500

[1460 rows x 6 columns]

In [24]:
type(df)

pandas.core.frame.DataFrame

Some important commands to explore your data

1. head and tail

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

2. shape

Doesnt require () at the end because its like a class attribute

In [ ]:
df.shape

_**DO: Print out the number of columns only. Then print out the number of rows only using shape**_

3. info

In [ ]:
df.info()

4. describe

In [ ]:
df.describe()

_**DO: Use df.describe include and exclude arguments to select only object columns.**_

5. loc and iloc

_Explain on blackboard and do some exaples there first_

In [ ]:
df.head()

_**DO: let a be some list. See what happens when we use a[:]**_

In [ ]:
df.loc[0,:]

In [ ]:
df.loc[0,'LotArea']

In [ ]:
df.loc[2:10, "LotArea":"Neighborhood"]

Similarly

In [ ]:
df.head()

In [ ]:
df.iloc[0,:]

In [ ]:
df.iloc[0,2]

_**DO: What is the sales price of the house with 100 index?**_

_**DO: Extract the OverallCond and YearBuilt columns for first 20 rows**_

_**DO: Find Neighbourhood of houses 50 to 65**_

_**DO: What command/code will give same output as df.head(100) ?**_

_**DO: What is the total price of the houses from index 10 to 20. Hint: There's a method "sum" that can be used on dataframes.**_

_**DO: Use describe and then loc to find overall mean SalePrice for all houses**_